@menuWidth: 180px;
@menuColor: #30404f;
@menuActiveColor: #203845;

* {
  padding: 0;
  margin: 0;
}

#wrapper {
  background: radial-gradient(ellipse at top left, rgba(255, 255, 255, 1) 40%, rgba(229, 229, 229, .9) 100%);
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: space-between;
  & > div {
    height: 100vh;
    overflow: hidden;
  }
}

.home-index-menu {
  width: @menuWidth;
  background-color: @menuColor;
  overflow-x: hidden;
  overflow-y: auto;
}

.home-index-content {
  width: calc(100vw - @menuWidth);
  padding: 15px 20px;
  overflow-x: auto;
  overflow-y: auto;
}

.home-menu-container {
  overflow-x: hidden;
}